<h1>Welcome to forum !</h1>

<p>
  <%= form_tag topics_path, method: :get do %>
    <%= text_field_tag "keyword" %>
    <%= submit_tag "Search", class: "btn btn-default" %>
    <%= link_to 'Cancel Search', topics_path, class: 'btn btn-warning' %>
  <% end %>
  Searching keyword : <%= params[:keyword] %>
</p>

<p>
  <%= form_tag topics_path, method: :get do %>
    <%= select_tag "category", options_from_collection_for_select(Category.all, "name", "name", params[:category]), onchange: 'this.form.submit()', prompt: "ALL" %>
  <!-- 第一個name是指要回傳的參數，第二個name是指要顯示在選項上的欄位為name -->
  <!-- category = Category.find_by(name: params[:category]) if params[:category]中的name即對應上述第一個回傳參數 -->
  <!-- 也可回傳:id, 第二行則為 Category.find(params[:category]) -->
  <% end %>
</p>

	<%= link_to 'New topic', new_topic_path , class: "btn btn-success" %><br>

<div class="paginate text-center">
	<%= paginate @topics %>
</div>

<table class="table table-hover text-center">
	<thead>
		<tr>
			<th class="text-center">分類</th>
			<th class="text-center">標題</th>
			<th class="text-center">作者</th>
			<th class="text-center">
				<%= link_to image_tag("up_arrow.svg", width: 25, border: 0), topics_path(comments_sort: :comments_up) %>
				留言數
				<%= link_to image_tag("down_arrow.svg", width: 25, border: 0), topics_path(comments_sort: :comments_down) %>
			</th>
			<th class="text-center">
				<%= link_to image_tag("up_arrow.svg", width: 25, border: 0), topics_path(post_sort: :post_up) %>
				建立日期
				<%= link_to image_tag("down_arrow.svg", width: 25, border: 0), topics_path(post_sort: :post_down) %>
			</th>
			<th class="text-center">
				<%= link_to image_tag("up_arrow.svg", width: 25, border: 0), topics_path(latest_comment_sort: :latest_comment_up) %>
				最新回覆
				<%= link_to image_tag("down_arrow.svg", width: 25, border: 0), topics_path(latest_comment_sort: :latest_comment_down) %>
			</th>
			<th class="text-center"></th>
		</tr>
	</thead>
	<% @topics.each do |t|%>
		<tr id="topic-<%= t.id %>">
			<td>【<%= t.category.name %>】</td>
			<td><%= link_to t.title, topic_path(t) %></td>
			<td>
				<%= t.user.nickname %><br>
				(<%= t.user.email %>)
			</td>
			<td>
				<% if t.comments_num %>
					<div class="comments_count"><%= t.comments_num %></div>
				<% else %>
					<div class="comments_count">0</div>
				<% end %>
			</td>
			<td>
				<%= t.created_at.strftime("%b %d. %Y") %><br>
				<%= t.created_at.strftime("%H:%M:%S") %>
			</td>
			<td>
				<% if(t.comments.any?) %>
					<%= t.comments.last.created_at.strftime("%b %d. %Y") %><br>
					<%= t.comments.last.created_at.strftime("%H:%M:%S") %>
				<% else %>
					-
				<% end %>
			</td>
			<td>
				<% if current_user && current_user.is_creator?(t) %>
					<%= link_to 'EDIT', edit_topic_path(t), class: "btn btn-primary" %>
					<%= link_to 'DEL', topic_path(t), class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure ?'}, remote: true %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>