<h1>Welcome to forum !</h1>

<%= link_to 'New topic', new_topic_path %>

<table>
	<tr>
		<th>#</th>
		<th>Title</th>
		<th>Create at</th>
	</tr>
	<% @topics.each do |t|%>	
		<tr>
			<td>#</td>
			<td><%= link_to t.title, topic_path(t) %></td>
			<td><%= t.created_at %></td>
			<td><%= link_to 'EDIT', edit_topic_path(t) %></td>
			<td><%= link_to 'DEL', topic_path(t), method: :delete, data: {
				confirm: 'Are you sure ?'	} %></td>
		</tr>
	<% end %>
</table>