<h1>【<%= @topic.category.name %>】<%= @topic.title %></h1>
<div class="title_bar"></div>

<%= link_to '', topics_path, class: "fa  fa-chevron-left btn btn-default btn-sm" %>
<!--<%= link_to '', request.referer.present? ? request.referer : topics_path, class: "fa  fa-chevron-left btn btn-default btn-sm" %> -->
<% if current_user && current_user.is_creator?(@topic) %>
  <%= link_to '', edit_topic_path(@topic), class: "fa fa-pencil btn btn-primary btn-sm" %>
<!-- 如果是從其他連結進入此頁面就會返回上一頁，其他皆導回topics_path -->
<% end %>

<h4 class="text-center">
  By : <%= @topic.user.email %>
</h4>

<p class="topic_content">
  <%= @topic.content %>
</p>

<hr>
<p>
參與回覆者：
<% @topic.group_by_comments_users(@topic).each do |u| %>
  <%= u %>,
<% end %>
</p>
<p id="comments_count">
  回覆數(<%= @topic.comments.count %>)
</p>
<div  id="comments_list" class="topic_comments">
  <ul>
    <% @topic.comments.each do |m| %>
      <%= render partial: 'commentsXD', locals: {m: m} %>
    <% end %>
  </ul>
</div>

<%= simple_form_for @comment,  url:comments_topic_path(@topic,m: @comment), method: :post,remote: true  do |n| %>
<!-- url:comments_topic_path(@topic,m: @comment)後面的m: @comment是在編輯時會把帶進來的文字給一個key m
     好讓controller中的def comments 可以辨識這是新的留言還是編輯舊的留言 -->
  <div class="form-group">
    <%= n.input :message, input_html: { class: "form-control"} %>
  </div>
  <%= n.submit 'Post comment', class: "btn btn-success btn-sm" %>
<% end %>
