<h1><%= @topic.title %></h1>

<h3>
	類別 ： <%= @topic.category.name %>
</h3>

<p>
	<%= @topic.content %>	
</p>	

<%= link_to 'EDIT', edit_topic_path(@topic), class: "btn btn-primary" %>
<%= link_to 'Back', topics_path, class: "btn btn-default" %>