<h1><%= @topic.title %></h1>

<h3>
	類別 ： 【<%= @topic.category.name %>】
</h3>

<h4>
  作者 ： <%= @topic.user.email %>
</h4>

<h5>
	內文 ： <%= @topic.content %>
</h5>

<%= link_to 'EDIT', edit_topic_path(@topic), class: "btn btn-primary" %>
<%= link_to 'Back', request.referer.present? ? request.referer : topics_path, class: "btn btn-default" %>
<!-- 如果是從其他連結進入此頁面就會返回上一頁，其他皆導回topics_path -->

<hr>

<div class="topic_comments">
  <ul>
    <% @topic.comments.each do |m| %>
    <li>
      <h4><%= m.user.nickname %></h4>
      <% if current_user && current_user.is_creator?(m) %>
        <%= link_to 'X', del_comment_topic_path(m: m), method: :delete, data: {confirm: 'Are you sure ?'}, class: "btn btn-danger btn-xs pull-right" %>
      <% end %>
      <span class="pull-right">
        <%= m.created_at.strftime("%b %d. %Y") %>,
        <%= m.created_at.strftime("%H:%M:%S") %>
      </span>
      <p><%= m.message %></p>
    </li>
    <% end %>
  </ul>
</div>

<%= simple_form_for @comment, url:comments_topic_path(@topic)  do |n| %>
  <div class="form-group">
    <%= n.input :message, input_html: { class: "form-control"} %>
  </div>
  <%= n.submit %>
<% end %>
