<h1><%= @topic.title %></h1>

<h3>
	類別 ： 【<%= @topic.category.name %>】
</h3>

<h4>
  作者 ： <%= @topic.user.email %>
</h4>

<h5>
	內文 ： <%= @topic.content %>
</h5>

<%= link_to 'EDIT', edit_topic_path(@topic), class: "btn btn-primary" %>
<%= link_to 'Back', topics_path, class: "btn btn-default" %>

<hr>

<ul>
  <% @topic.comments.each do |m| %>
  <li>
    <h4><%= m.user.email %></h4>
    <span class="pull-right">
      <%= m.created_at.strftime("%b %d. %Y") %>,
      <%= m.created_at.strftime("%H:%M:%S") %>
    </span>
    <p><%= m.message %></p>
  </li>
  <% end %>
</ul>

<%= simple_form_for @comment, url:comments_topic_path(@topic)  do |n| %>
  <div class="form-group">
    <%= n.input :message, input_html: { class: "form-control"} %>
  </div>
  <%= n.submit %>
<% end %>
