<div class="my_profile_btns text-center">
  <%= link_to 'My profile', users_path, class: "btn btn-warning" %>
  <%= link_to 'My Posts', my_posts_users_path, class: "btn btn-warning" %>
  <%= link_to 'My Collection', my_collection_users_path, class: "btn btn-default" %>
</div>

<h1 class="text-center">My profile</h1>
<div class="title_bar"></div>

<hr>

<div class="profile_card">
  <div class="photo">
    <%= image_tag current_user.user_photo.url if current_user.user_photo.url %>
  </div>
  <hr>
  <table class="profile_info table table-striped"">
    <tr>
      <th>First name : </th>
      <td></td>
      <td><%= current_user.first_name %></td>
    </tr>
    <tr>
      <th>Last name : </th>
      <td></td>
      <td><%= current_user.last_name %></td>
    </tr>
    <tr>
      <th>Nick name : </th>
      <td></td>
      <td><%= current_user.nickname %></td>
    </tr>
    <tr>
      <th>Email : </th>
      <td></td>
      <td><%= current_user.email %></td>
    </tr>
  </table>
  <div class="text-center">
    <%= link_to '', topics_path, class: 'fa  fa-chevron-left btn btn-default' %>
    <%= link_to '', edit_user_registration_path, class: 'fa  fa-pencil btn btn-primary' %>
  </div>
</div>