<div class="my_profile_btns text-center">
  <%= link_to 'My profile', users_path, class: "btn btn-warning" %>
  <%= link_to 'My Posts', my_posts_users_path, class: "btn btn-warning" %>
  <%= link_to 'My Collection', my_collections_users_path, class: "btn btn-warning" %>
</div>

<h1 class="text-center">My posts</h1>
<div class="title_bar"></div>
<hr>
<div class="paginate text-center">
  <%= paginate @my_posts %>
</div>
<div class="my_posts">
  <div class="my_view_box">
    <table class="table table-hover text-center">
      <thead>
        <tr>
          <th class="text-center">分類</th>
          <th class="text-center">標題</th>
          <th class="text-center">
            留言數
            <!-- Sorting guide => http://railscasts.com/episodes/228-sortable-table-columns?view=asciicast -->
          </th>
          <th class="text-center">建立日期</th>
          <th class="text-center">最新回覆</th>
          <th class="text-center"></th>
        </tr>
      </thead>
      <% @my_posts.each do |t|%>
        <tr>
          <td>【<%= t.category.name %>】</td>
          <td><%= link_to t.title, topic_path(t) %></td>
          <td>
            <div class="comments_count"><%= t.comments.count %></div>
          </td>
          <td>
            <%= t.created_at.strftime("%b %d. %Y") %><br>
            <%= t.created_at.strftime("%H:%M:%S") %>
          </td>
          <td>
            <% if(t.comments.any?) %>
              <%= t.comments.last.created_at.strftime("%b %d. %Y") %><br>
              <%= t.comments.last.created_at.strftime("%H:%M:%S") %>
            <% else %>
              -
            <% end %>
          </td>
          <td>
            <% if current_user && current_user.is_creator?(t) %>
              <%= link_to '', edit_topic_path(t), class: "fa fa-pencil btn btn-primary" %>
              <%= link_to '', del_my_post_users_path(id: t), method: :delete, class: "fa fa-times btn btn-danger", data: {confirm: 'Are you sure ?'} %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="my_comments">
  <h1 class="text-center">My comments</h1>
  <div class="title_bar"></div>
  <div class="my_view_box">
    <ul>
      <% @my_comments.each do |c| %>
        <li class="col-sm-4">
          <div class="my_comments_box">
            <h4 class="text-center">【<%= c.topic.category.name %>】<%= c.topic.title %></h4>
            <h6 class="text-center"><%= c.created_at.strftime("%b %d. %Y, %H:%M:%S") %></h6>
            <p><%= c.message %></p>
            <%= link_to '', topic_path(c.topic), class: "fa fa-search-plus btn btn-warning btn-xs my_read_more" %>
            <%= link_to '', del_comment_topic_path(id: c.topic_id, c: c), method: :delete, data: {confirm: 'Are you sure ?'}, class: "fa fa-times btn btn-danger btn-xs my_delete" %>
            <!-- @my_comments = current_user.comments.order("created_at desc") -->
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to '', topics_path, class: 'fa fa-chevron-left btn btn-default' %>